.sidebar {
    flex:0.35;
    display: flex;
    flex-direction: column; 
}
.sidebar_header {
    display: flex;
    justify-content: space-between;
    padding: 20px;
    border:1px solid lightgray;
}

.sidebar_header_right {
    display: flex;
    align-items: center;
    justify-content: space-between;
    min-width: 10vw;
}

.sidebar_header_right > .MuiSvgIcon-root {
    margin: 2vw;
    font-size: 24px !important;
}

.sidebar_search{
    display: flex;
    align-items: center;
    background-color: #f6f6f6;
    height:39px;
    padding:10px
}

.sidebar_search_container{
    display: flex;
    align-items: center;
    background-color: white;
    height: 35px;
    border-radius: 20px;
    width:100%;
} 

.sidebar_search_container > input {
    border: none;
    margin-left: 10px;
}

.sidebar_search_container > .MuiSvgIcon-root {
    color:gray;
    padding: 10px;
}

.sidebar_chats{
    background-color: #ffff;
    flex:1;
    overflow-y: scroll;
}